body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 700px;
    margin: 30px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

textarea {
    height: 100px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.auth-buttons {
    display: flex;
    gap: 10px;
}

.note {
    background: #f9f9f9;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
}

.note h3 {
    margin: 0;
}

.note-buttons {
    margin-top: 10px;
    display: flex;
    gap: 10px;
}